:root {
  --bg-color: #fff;
  --font-family: sans-serif;
  --overlay-color: rgba(0, 0, 0, 0.75);
  --highlight-color: #962f00;
  --primary-btn-bg: #f4e736d8;
}

*, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
  padding: 13px 36px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid var(--primary-btn-bg);
  background: var(--primary-btn-bg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.banner {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--overlay-color)), to(var(--overlay-color))), url("../Resources/HD-soccer.jpg");
  background: linear-gradient(var(--overlay-color), var(--overlay-color)), url("../Resources/HD-soccer.jpg");
  background-size: cover;
  background-position: center;
  color: var(--bg-color);
}

body {
  background-color: #f4f4f4;
}

.navbar {
  width: 98%;
  margin: auto;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_navbar {
  color: var(--bg-color);
  padding-left: 1px;
  padding-right: 20px;
  left: 0px;
  text-align: left;
  font-family: "Lucida Handwriting", "Courier New", monospace;
  font-size: xx-large;
}

.logo {
  height: 90px;
  width: 95px;
  cursor: pointer;
  padding: 0;
}

.list {
  padding-left: 42%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  justify-items: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.navbar ul li {
  list-style: none;
  right: 0;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--bg-color);
  text-transform: uppercase;
}

.navbar ul li ::after {
  content: '';
  height: 3px;
  width: 0;
  background: var(--highlight-color);
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar ul li:hover ::after {
  width: 100%;
}

.text-box {
  width: 90%;
  -webkit-column-count: var(--bg-color);
          column-count: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.text-box h1 {
  font-size: 80px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: var(--bg-color);
}

.text-box input[type=text] {
  width: 20%;
  padding: 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.MediaPage2 {
  text-align: center;
  margin: 20px auto;
  max-width: 80%;
}

.audiovideoCS {
  background-color: #8c9600;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audiovideoCS audio, .audiovideoCS video {
  width: 100%;
  margin-top: 15px;
}

.detailsCS {
  background-color: #8c9600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.detailsCS summary {
  font-weight: bold;
  margin-bottom: 10px;
}

/*--------- Page 2 -------*/
h1 {
  font-size: 36px;
  font-weight: 600;
}

.Page2 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.row1, .row2 {
  margin: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Brands-col {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.Brands-col:hover {
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.detailsCS {
  background-color: #8c9600;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audiovideoCS {
  background-color: #8282c1;
  margin: 15px;
}

.customersSection {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  background-color: gray;
  /* Add background color */
  padding: 20px;
  /* Add padding for space around content */
  border-radius: 10px;
  /* Add border-radius for rounded corners */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add box shadow for a subtle effect */
}

.customer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-image {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Page3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.row1teamwear,
.row2teamwear {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.Brands-col {
  background: #fff3f3;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

/* Additional styling  */
.teamwearHeader {
  text-align: center;
  margin-bottom: 20px;
}

img {
  max-width: 80%;
  height: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/*# sourceMappingURL=main.css.map */