// $bg-color: #fff;
// $font-family: sans-serif;
// $overlay-color: rgba(0, 0, 0, 0.75);
// $highlight-color: #962f00;
// $primary-btn-bg: #f4e736d8;

// Partials

$t:"text";

:root {
    // varibles 
    --bg-color: #fff;
    --font-family: sans-serif;
    --overlay-color: rgba(0, 0, 0, 0.75);
    --highlight-color: #962f00;
    --primary-btn-bg: #f4e736d8;
}